.Rproj.user
.Rhistory
.RData
.Ruserdata
Lecture_potential_outcomes_intro_cache/
Lecture_potential_outcomes_intro_files/
Rexample_TableOne_SMD_cache/
Rexample_TableOne_SMD_files/
Lecture_bootstrap_cache/
Lecture_bootstrap_files/
Lecture_theory_basics_cache/
Lecture_theory_basics_files/
Lecture_regression_adjustment_cache/
Lecture_regression_adjustment_files/
Rexample_flexible_regression_cache/
Rexample_flexible_regression_files/
Lecture_propensity_score_cache/
Lecture_propensity_score_files/
.Rdata